@model jQueryAjaxInAsp.NETMVC.Models.hsn_table

@{
    ViewBag.Title = "ViewAll";
    Layout = null;
}



@using (Html.BeginForm("Search", "Employee", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class ="row">
        <div class=" col col-md-2">
            <div class="form-group">
                @Html.LabelFor(model => model.product_id, new { @class = "control-label col-md-6" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.product_id, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.product_id)
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-default" />
                    
                </div>
            </div>

        </div>
    </div>
}